<a href="https://colab.research.google.com/github/JESEONGKANG/python/blob/main/%EA%B3%BC%EC%A0%9C9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for i in range(0, 3, 1):
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [6]:
for i in [0, 1, 2, 3, 4]:
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반
3 컴퓨터과 3학년 1반
4 컴퓨터과 3학년 1반

In [7]:
for i in ["봄", "여름", "가을", "겨울"]:
  print(i, "컴퓨터과 3학년 1반")

봄 컴퓨터과 3학년 1반
여름 컴퓨터과 3학년 1반
가을 컴퓨터과 3학년 1반
겨울 컴퓨터과 3학년 1반

In [8]:
for i in range(1, 11, 1):
  print(i, "컴퓨터과")

1 컴퓨터과
2 컴퓨터과
3 컴퓨터과
4 컴퓨터과
5 컴퓨터과
6 컴퓨터과
7 컴퓨터과
8 컴퓨터과
9 컴퓨터과
10 컴퓨터과

In [10]:
for i in range(2, 6, 1):
  print(i, end= " ")

2 3 4 5

In [17]:
result = 1

for i in range(1, 6, 1):
  result = result * i

print("A B C D E 학생들을 순서대로 세우는 경우의 수", result)

A B C D E 학생들을 순서대로 세우는 경우의 수 120

In [18]:
sum= 0

for i in range(1, 11, 1):
  sum = sum + i
print(sum)

55

In [20]:
odd_sum = 0
for i in range(1000, 2001, 1):
  if i%2 == 1:
    odd_sum = odd_sum + i
print(odd_sum)

750000

In [22]:
odd_sum = 0
for i in range(1001, 2001, 2):
  odd_sum = odd_sum + i
print(odd_sum)

750000

In [25]:
i, hap = 0, 0
for i in range (500, 1001, 2):
  hap += i
print("500에서 1000까지의 짝수의 합 :", hap)

500에서 1000까지의 짝수의 합 : 188250

In [26]:
for i in range(2):
  for k in range(3):
   print("중첩 for문입니다")

중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다

In [27]:
i = 0
j = 0

for i in range(2, 10):
  for j in range(1, 10):
    print(i, "X", j, "=", i * j)
  print(" ")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [28]:
i = 0
while(i<3):
  print(i, "컴퓨터과 3학년 1반")
  i = i + 1

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [29]:
i = 0
while True:
  print("ㅎ", end= " ")
  i = i + 1
  if i == 10:
    break

ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ

In [35]:
def menu():
  print("###############")
  print("# 1. 덧셈     #")
  print("# 2. 뺄셈     #")
  print("# 3. 나눗셈   #")
  print("# 4. 곱셈     #")
  print("# 5. 종료     #")

def add():
  num1 = float(input("첫번째 숫자를 입력 :"))
  num2 = float(input("두번째 숫자를 입력 :"))
  sum = num1 + num2
  return sum

while True:
  menu()
  select = int(input("메뉴를 선택 :"))
  if select == 5:
    break
  elif select == 1:
    sum = add()
    print("두수의 덧셈 결과:", sum)

###############
# 1. 덧셈     #
# 2. 뺄셈     #
# 3. 나눗셈   #
# 4. 곱셈     #
# 5. 종료     #
메뉴를 선택 :1
첫번째 숫자를 입력 :50
두번째 숫자를 입력 :20
두수의 덧셈 결과: 70.0
###############
# 1. 덧셈     #
# 2. 뺄셈     #
# 3. 나눗셈   #
# 4. 곱셈     #
# 5. 종료     #
메뉴를 선택 :5